@model List<FomoCryptoNews.Client.Models.NewsModel>

    <table class="table">
        <thead class="table-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Cover</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Created At</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        @foreach (var item in @Model)
        {
        <tr>
            <th scope="row">@item.Id</th>
            <td>@item.Cover</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.CreatedAt.ToString("f")</td>
            <td>
                <button type="button" class="btn btn-outline-success">Approve</button>
                <button type="button" class="btn btn-outline-warning">Post on</button>
                <button type="button" class="btn btn-outline-info">Info</button>
            </td>
        </tr>
        }

        </tbody>
    </table>